.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTON */

.button {
  cursor: pointer;
  width: 10rem;
  border-radius: 0.5rem;
  border: 2px solid grey;
  background-color: darkslategrey;
  color: white;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: white;
  color: darkslategrey
}

.button:active {
  font-size: 1.15rem;
}