.items {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
}

.item {
    text-decoration: none;
    color: inherit;

    min-width: 10em;
    text-align: center;
    line-height: 2rem;
    padding: 0 1rem;
    overflow: hidden;

    border: 2px solid grey;
    border-radius: 0.5rem;

    cursor: pointer;
    transition: all 0.3s;
}

.item:hover {
    transform: scale(1.25);
    background-color: white;
}

.item:active {
    font-weight: bold;
}